.popup__input {
  border: none;
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 1.21;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
  margin-top: 30px;
  padding: 0 0 9px;
}

.popup__input:focus {
  outline: rgb(42, 44, 47, 0.5);
}

.popup__input:first-child {
  margin-top: 0;
}