.popup__container {
  position: relative;
  align-self: center;
  max-width: 430px;
  width: 100%;
  box-sizing: border-box;
  background-color: #FFF;
  border-radius: 10px;
  padding: 34px 36px 37px;
  z-index: 2;
  cursor: default;
}

@media screen and (max-width: 1080px) {
  .popup__container {
    padding: 25px 22px;
    max-width: 282px;
  }
}