.profile__info {
  padding-left: 30px;
  display: flex;
  flex-wrap: wrap;
  max-width: 336px;
  align-items: baseline;
}

@media screen and (max-width: 1080px) {
  .profile__info {
    padding-top: 26px;
    justify-content: center;
    align-items: flex-start;
    padding-left: 0;
    padding-bottom: 33px;
  }
}